<h1>Users Cart</h1>
<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>	

<div id="cart-items">
	<div class="cart-name"><span></span></div>
	<div class="cart-price"><span></span></div>
</div>

