<h1>Purchases#index</h1>
<p>Find me in app/views/purchases/index.html.erb</p>
<!-- <div class="container">
	<div class="row">
		<div id="cart-items">
			<div class="cart-name"><span></span></div>
			<div class="cart-price"><span></span></div>
		</div>
	</div>
</div> -->