<h1>Checkout</h1>
<div class="container">
	<div class="row">
		<div id="cart-items">
			<div class="cart-name"><span></span></div>
			<div class="cart-price"><span></span></div>
		</div>
	</div>
</div>
