<h1>Favorites</h1>
<ul class="list-group" id="favorites">
	<% if current_user %>
		<% @user_items.each do |user_item| %>
			<% if user_item.favorited %>
			<li class="list-group-item" id="favorited">
				<h2><%= user_item.item.name %> $<%= user_item.item.price %> </h2>
			</li>
			<% end %>
		<% end %>
	<% end %>
</ul>