<h1>Favorites</h1>
<ul class="list-group" id="favorites">
	<% @user_items.each do |user_item| %>
		<% if user_item.favorited %>
		<li class="list-group-item" id="favorited">
			<h2><%= user_item.item.name %></h2>
		</li>
		<% end %>
	<% end %>
</ul>