<div class="home-body">
	<div class="wrapper">
		<nav id="sidebar">
			<div class="sidebar-header">
				<h2>Blue Lily Candles</h2>
			</div>
			<ul class="list-group">
				<li class="list-group-item">Favorites?</li>
				<% @items.each do |item| %>
					<li class="list-group-item" >
						<p id="item-<%= item.id %>"><%= item.name %> $<%= item.price %></p>
					</li>
				<% end %>
				<li class="list-group-item" id="item"></li>
			</ul>	
		</nav>
		<div id="content">
			<div class="container">
				<div class="row">
					<%= render @items %>
				</div>
			</div>
	  </div>
	</div>
</div>