<nav id="sidebar" class="inactive">
	<span id="close-sidebar">X</span>
	<div class="sidebar-header">
		<h2>Blue Lily Candles</h2>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<p>
				<div class="name"><u>Name:</u> <span></span></div>
				<div class="description"><u>Description:</u> <span></span></div>
				<div class="Rating"><u>Rating:</u> <span></span></div>
				<div class="price"><u>Price:</u> $<span></span></div>
			</p>
		</li>
	</ul>	
</nav>
<div class="carousel">
	<%= render @items %>	
</div>							

