<div class="home-body">
	<div class="wrapper">
		<nav id="sidebar">
			<div class="sidebar-header">
				<h2>Blue Lily Candles</h2>
			</div>
				<ul class="list-group show">
					<li class="list-group-item">Favorites?</li>
					</li>	
				</ul>	
		</nav>
		<div id="content">
			<div class="container">
				<div class="row">
					<%= render @items %>
				</div>
			</div>
	  </div>
	</div>
</div>