<div class="home-body">
	<div class="scrolling-wrapper-flexbox">
		<nav id="sidebar" class="inactive">
			<span id="close-sidebar">X</span>
			<div class="sidebar-header">
				<h2>Blue Lily Candles</h2>
			</div>
			<ul class="list-group">
				<li class="list-group-item">Favorites?</li>
				<li class="list-group-item">
					<p>
						<div class="name">Name: <span></span></div>
						<div class="description">Description: <span></span></div>
						<div class="price">Price: <span></span></div>
					</p>
				</li>
			</ul>	
		</nav>
		<div id="content">
			<div class="row">
				<%= render @items %>				
			</div>			
	  </div>
	</div>
</div>