/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bar-squared';
@import 'users';
@import 'items';
@import 'ratings';
@import 'purchases';
@import 'home';
@import 'user_items';
@import "bootstrap";
@import 'parsley';

html, body {
	background: #FFAFBD; 
	background: -webkit-linear-gradient(to left, #ffc3a0, #FFAFBD); 
	background: linear-gradient(to left, #ffc3a0, #FFAFBD);
  width: 100%;
  height: 100%;
}

.navbar {
	background: inherit;
}

.with-image {
  background: url('https://img.etsystatic.com/il/10b32f/1404404159/il_570xN.1404404159_g9db.jpg?version=0');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.centering {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media all and (max-width: 720px){
  body {
  background: url('https://img.etsystatic.com/il/10b32f/1404404159/il_570xN.1404404159_g9db.jpg?version=0');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }
}