// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

#sidebar ul li {
  display: block;
  padding: 10px;
  background: inherit;
  color: white;
}
.sidebar-header {
  padding: 20px;
}

#sidebar.inactive {
  margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar{
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.ratings-boxes {
	display: inline-flex;
	
	.rating-label{
		font-size: 20px;
		justify-content: center
	}
	.rating-box{
		display: inline-block;
	}
}

#close-sidebar {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
