// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel-cell {
  // margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  transition: transform 2s ease;
  .card{
    display: block;
    height: 100%;
    width: 80%;
    opacity: 0.6;
    transform: scale(0.85);
    filter: blur(5px);
    background-color: #BFB7B9;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s, background 0.3s ease;
    // .img-thumbnail {
    //   max-width: 100%;
    // }
  }
}

.carousel-cell.is-selected{
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 351px;
  // height: auto;
  .card{
    opacity: 1;
    transform: scale(1);
    filter: none;
    background-color: #CFDBE5;
  }
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 350px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 40%;
  }
}

.carousel {
  height: 85%;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  // background: black;
  .flickity-viewport {
    height: 100% !important;
  }
}



#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
  top: 376px;
}

#sidebar ul li {
  display: block;
  padding: 10px;
  background: inherit;
  color: black;
}
.sidebar-header {
  padding: 20px;
}

#sidebar.inactive {
  margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar{
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#close-sidebar {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.ratings-boxes {
  display: inline-flex;
  
  .rating-label{
    font-size: 20px;
    justify-content: center
  }
  .rating-box{
    display: inline-block;
  }
}

