// Place all the styles related to the User_Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite-button {
	width: 111%;
	height: 100%;
}
.form-useritem {
	float: right;
	display: inline-block;
	width: 10%;
}

#favorites {
  background: inherit;
}

#favorited {
	background: inherit;
	text-align: center;
}

.wish {
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	transform: translateY(20px) rotate(0deg);
	letter-spacing: 10px;
	animation: in 0.5s forwards;
	@for $i from 1 to 8 {
    &:nth-child(#{$i}) { 
      animation-delay: $i * 0.1s;
    }
   }
  @keyframes in {
    0% { 
      opacity: 0;
      transform: translateY(50px) rotate(90deg);
    }
    100% { 
      opacity: 1;
      transform: translateY(0) rotate(0);
    }
  }
}