// Place all the styles related to the User_Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite-button {
	width: 111%;
	height: 100%;
}
.form-useritem {
	float: right;
	display: inline-block;
	width: 10%;
}